<div class="example-wrapper">
	<h4>
		✅ Liste des commentaires approuvés !
	</h4>

	{% for comment in trick.comments %}
		<hr/>
		<div class="row p-3 mb-2 bg-white text-dark">
			<div class="col-lg-1 col-12">
				<img src="{{ asset(comment.user.avatar.url)}}" alt="{{ comment.user.pseudo }}" title="{{ comment.user.pseudo }}" width="40px">
			</div>
			<div class="col-lg-11 col-12">
				{{ comment.content }}
			</div>
		</div>
	{% endfor %}
</div>
