{% extends 'base.html.twig' %}

{% block title %}Hello ForgotPasswordController!
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 text-dark bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-8">
					<h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
					{{ form_start(forgotPasswordForm) }}
					{{ form_row(forgotPasswordForm.pseudo) }}
					<br/>
					<button class="btn btn-lg btn-md btn-primary" type="submit">
						Récupérer
					</button>
				</div>
				{{ form_end(forgotPasswordForm) }}
			</div>
		</div>
	</div>
</section>{% endblock %}
