{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2  bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-8">
					<h1 class="h3 mb-3 font-weight-normal">Modifier votre mot de passe</h1>
					{{ form_start(forgotPasswordForm) }}
					{{ form_row(forgotPasswordForm.password) }}
					<br/>
					<button class="btn btn-lg btn-md btn-primary" type="submit">
						Enregistrer
					</button>
				</div>
				{{ form_end(forgotPasswordForm) }}
			</div>
		</div>
	</div>
</section>{% endblock %}
