<div
	class="container text-dark">
	<!-- Modal role="dialog" -->
	<div class="modal fade" id="empModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
		<div
			class="modal-dialog modal-lg modal-dialog-scrollable">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<img src="{{ asset('medias/Snowboarding_pictogram.svg') }}" alt="Snowtricks" width="50px"/>
					<h1>SNOWTRICKS</h1>
					<h4 class="modal-title">User Info</h4>
				</div>
				<div class="modal-body">
					<form action="#" method="POST" class="needs-validation" novalidate></form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary submitBtn">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
</div>
