{% extends "base.html.twig" %}

{% block body %}
	<h1>Une erreur est survenue</h1>
	<p>Code de l'erreur :
		{{ status_code }}</p>
	<p>Message de l'erreur :
		{{ status_text }}</p>
	<p>Message personnalisé :
		{{ exception.message }}</p>
{% endblock %}
