{% extends 'base.html.twig' %}

{% block title %}
	Hello TrickController!
{% endblock %}

{% block body %}
	<section id="tricks">
		<h1>Bonjour</h1>
		<pre>
			{{ dump() }}
		</pre>
		<i class="bi-alarm"></i>
	</section>
{% endblock %}
