{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<h4>Bonjour
						{{ USER.firstName }}
						{{ USER.lastName|upper}}
					</h4>
					<div class="col-4">
						<img src="{{ asset(USER.avatar.url) }}" class="rounded-circle" style="height: 100px" alt="profile picture">
					</div>
				</div>
				{% include "user/user.html.twig" %}
				<hr/>
				{% include "user/tricks.html.twig" %}
				<hr/>
				{% include "user/comments.html.twig" %}
			</div>
		</div>
	</section>
{% endblock %}
