<div class="row mx-auto my-auto justify-content-center">
	<div class="text-center" style="width: 18rem;">
			<a href="{{ path('add_trick') }}" class="btn btn-primary">Ajouter une figure</a>
	</div>
</div>


<hr/>
{% if tricks %}
	Vos figures :
	{% for trick in tricks %}
		{{ trick.title }}<br/>
	{% endfor %}
{% else %}
	Vous n'avez pas créé de figure.
{% endif %}
